<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gatewayUrl" value="http://localhost:8083/gateway"/>
    <!--<add key="gatewayUrl" value="http://paolo.westeurope.cloudapp.azure.com:8083/gateway"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>